In [40]:
import matplotlib.pyplot as plt
import pandas as pd
import os
   #...: from kneed import KneeLocator
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

os.chdir("C:\\Users\\mar77d\\OneDrive - CSIRO\\Documents\DA_project")

In [41]:
# import data
data = pd.read_csv('customer_segmentation.csv',engine = "python")
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [42]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [64]:
#obs = data.shape[0]
#types = data.dtypes
counts = data.apply(lambda x: x.count())
#uniques = data.apply(lambda x: [x.unique()])
nulls = data.apply(lambda x: x.isnull().sum())
distincts = data.apply(lambda x: x.unique().shape[0])
#missing_ration = (data.isnull().sum()/ obs) * 100
#skewness = data.skew()
#kurtosis = data.kurt()

In [67]:
str = pd.concat([counts, distincts, nulls],axis = 1)
str.columns = ['counts', 'distincts', 'nulls']
display(str)

             counts  distincts   nulls
InvoiceNo    541909      25900       0
StockCode    541909       4070       0
Description  540455       4224    1454
Quantity     541909        722       0
InvoiceDate  541909      23260       0
UnitPrice    541909       1630       0
CustomerID   406829       4373  135080
Country      541909         38       0

In [68]:
data = data[~(data.CustomerID.isnull()) or data.Quantity>0]
data.describe()
# Remove negative or return transactions
#cs_df = cs_df[~(cs_df.Quantity<0)]
#cs_df = cs_df[cs_df.UnitPrice>0]

#details = rstr(cs_df)
#display(details.sort_values(by='distincts', ascending=False))
#data.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [63]:
minimum = data.apply(lambda x: x.min())

TypeError: '<=' not supported between instances of 'str' and 'float'